@import "../sass/styles.scss";

.servers-list {
  margin: 0;
  list-style-type: none;
  padding: 1.25rem;

  &-server {
    height: 3rem;
    width: 3rem;
    margin-bottom: 1.5rem;
    background-color: $grey-m-dark;
    border-radius: 50%;
    text-align: center;
    position: relative;

    &-name {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      font-family: inherit;
      color: $grey-light;
      background-color: $grey-m-dark;
      border-radius: 50%;
      outline-style: none;
      transition: all 0.2s;

      &-abb {
        text-transform: uppercase;
        font-size: 1.25rem;
      }

      &:hover {
        background-color: $primary-dark;
        cursor: pointer;
      }

      &:focus {
        background-color: $primary-dark;
      }
    }
  }
}

.btn-click {
  position: absolute;
  height: 4rem;
  top: 20px;
  border-radius: 2rem;
  width: 1rem;
  background-color: $primary;
}
