@import "../sass/styles.scss";

.server-name {
  padding: 0 2rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1 / 2;
  font-size: 1.25rem;
  border-bottom: 1px solid $primary;
}

.chatrooms {
  grid-row: 2 / 3;
  padding: 1rem 2rem;

  &-list {
    position: absolute;
    grid-row: 2 /3;
    list-style-type: none;

    &-chatroom {
      height: 3rem;
      margin-bottom: 1rem;
      border-radius: 50%;

      &-name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;
        border: none;
        padding: 0 4rem 0 0.5rem;
        background-color: transparent;
        font-family: inherit;
        font-size: 1rem;
        color: $grey-light;
        border-radius: 0.5rem;
        outline-style: none;
        transition: all 0.2s;

        &:hover {
          background-color: #1c1b2193;
          cursor: pointer;
        }

        &:focus {
          background-color: #1c1b2193;
        }
      }
    }
  }
}

.user {
  grid-row: 3 / 4;
  height: 3rem;
  width: 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  margin-left: 2rem;
  padding: 0 1rem;
  background-color: #1c1b2193;
  font-family: inherit;
  font-size: 1rem;
  color: $grey-light;
  border-radius: 0.5rem;

  &-display-name {
    color: $primary;
    margin-right: 1rem;

    &:hover {
      cursor: pointer;
    }
  }

  &-online-symbol {
    align-self: center;
    justify-self: flex-end;
    grid-column: 3 / 4;
    margin-right: auto;
    height: 0.5rem;
    width: 0.5rem;
    background-color: $green;
    border-radius: 50%;
  }
}
