// Color variables

$background: #595a5c;
$grey-light: #e5e6e7;
$grey-m: #707070;
$grey-m-dark: #383841;
$grey-dark: #292930;
$grey-darker: #1c1b21;

$primary: #0cd1ef;
$primary-dark: #0c7b8c;

$green: #1ac200;
$purple: #9100ff;

$highlight: #797979;

// global styles
.content {
  border-radius: 0.95rem;
  background-color: $grey-m-dark;
  margin: 0.5rem 5vw 0;
  padding-top: 5rem;
  min-height: 75vh;
}

.title {
  font-size: 2.75rem;
  color: $grey-light;
}
