@import "../sass/styles.scss";

.header {
  height: 4rem;
  padding-top: 2rem;
  display: flex;
  align-items: center;

  &-logo {
    font-size: 2.5rem;
    color: $grey-light;
    margin-left: 5vw;
  }

  &-links {
    margin-right: 5vw;
    margin-left: auto;
    font-size: 1.5rem;
  }

  &-link {
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
    color: $grey-light;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      background-color: $grey-m;
      transform: scale(1.2);
    }

    &:focus {
      background-color: $grey-m;
      transform: scale(1.2);
    }
  }

  &-link:not(:last-child) {
    margin-right: 0.5rem;
  }
}
