@import "../sass/sass_variables.scss";

.header {
  height: 4rem;
  padding-top: 2rem;
  display: flex;
  align-items: center;

  &-logo {
    font-size: 2.5rem;
    color: $grey-light;
    margin-left: 5vw;
  }

  &-links {
    margin-right: 5vw;
    margin-left: auto;
    font-size: 1.5rem;
  }

  &-link {
    color: white;
    text-decoration: none;
  }

  &-link:not(:last-child) {
    padding-right: 2rem;
  }
}
