@import "../../components/sass/styles.scss";

.content-chat {
  color: $grey-light;
  border-radius: 0.5rem;
  background-color: $grey-m-dark;
  margin: 0.5rem 10px 0;
  min-height: 90vh;
  display: flex;
  position: relative;
  //flex-wrap: wrap;
  //justify-content: center;
  // display: grid;
  // grid-template-columns:
  //     [server-start]8% [server-end
  //     chatroom-start] 22% [chatroom-end chat-start] 55% [chat-end members-start] 1fr [members-end];
}

.server-container {
  width: 100px;
  //grid-column: server-start / server-end;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: $grey-darker;
  position: relative;
}

.chatroom-container {
  grid-column: chatroom-start / chatroom-end;
  background-color: $grey-dark;
  display: grid;
  grid-template-rows: 5vw 1fr 4vw;
}

.chat-container {
  grid-column: chat-start / chat-end;
  background-color: $grey-m-dark;
  display: grid;
  grid-template-rows: 5vw 1fr 4vw;
}

.members-container {
  grid-column: members-start / members-end;
  background-color: $grey-dark;
  display: grid;
  grid-template-rows: 5vw min-content 1fr;
  border-radius: 0 0.5rem 0.5rem 0;
}
